.btn-green{
	background-color: #22D8C8;
	color: white;
	font-weight: 500;
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	cursor: pointer !important;
	box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
	margin: 10px 0;
}